/* Import the Johnston100 font */
@font-face {
    font-family: 'Johnston100';
    src: url('./fonts/johnston100.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

/* Apply Johnston100 font globally or to specific elements */
body {
    font-family: 'Johnston100', sans-serif;
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6, p, a, .your-class {
    font-family: 'Johnston100', sans-serif;
}
